.details-page {
    display: flex;
    flex-direction: row-reverse;
}

.description-container p:first-child {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.description-container p:last-child {
    color: rgba(0, 0, 0, 0.65);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#right nav {
    padding-inline: 64px;
}

#right .line {
    width: 368px;
}

.select-size-container .size {
    padding: 0;
}

.select-size-container .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 12px;
}

.select-size-container h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.description-container p:first-child, .select-size-container .size h3 {
    margin-bottom: 18px;
}

.amount-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select-amount-container {
    display: flex;
    flex-direction: row;
    margin-top: 45px;
}

.select-amount-container button {
    margin-left: 32px;
}